{% extends "layout.html" %}
{% block content %}
<br>
        {% for result in results %}
        <div class="row">
            <h2> {{ result.filename }} </h2>
            <img src='static/lena.png'>
        </div>
        <div class="row">
            <div class='col'>
                <b> Results</b>
				<table>
					<tbody>
						<tr>
							<td>name </td>
							<td>prob </td>
						</tr>
					    {% for class in result.classes %}
						<tr>
                            <td> {{ result.classes[loop.index0] }} </td>
                            <td> {{ result.probs[loop.index0] }} </td>
						</tr>
					    {% endfor %}
					</tbody>
				</table>
            </div>
        </div>
        {% endfor %}
<hr>
<p> <b>mews-base</b></p>

{% endblock %}
